#log
{
    width:290px;
}

#js-code
{
    width:400px;
}

.tex
{
    width:400px;
}

#sizex, #sizey
{
    width:20px;
}

#num_boards{
    width:30px;
}

#footer
{
    margin-top: 20px;
    padding-top: 20px;
}
